.cm-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    font-family: 'Montserrat', 'Sans Serif';

}

.contracts-table-wrapper {
    overflow: auto;
    height: 500px;
    width: 1000px;
}
  
.contracts-table {
    width: 100%;
    position: relative;
    z-index: -1;
}
  
.contracts-table thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 0;
}
  
.contracts-table th, .contracts-table td {
    width: 105px;
}
  
.contracts-table tr:hover {
    background-color: #f5f5f5;
}

.select-contract {
    width: 250px;
    margin-bottom: 2em;
    border-radius: 10px;
    height: 30px;
    padding: 0 0.5em;
}

.contract-heading {
    font-weight: bold;
    margin-bottom: 0.6em;
}
  