/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-scroll {
  display: block;
  max-height: 500px;
  overflow-y: auto;
  border-collapse: separate;
  width: fit-content;
  padding: 10px;
}

.MessageApp {
    height: 100vh;
    width: 100vw;
}
/* 
.table-scroll thead {
  background-color: #f8f9fa;
}

.table-scroll th, .table-scroll td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e9ecef;
}

.table-scroll tbody {
  display: block;
  max-height: 180px;
  overflow-y: auto;
}

.table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
} */
