.center {
    text-align: center;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.-align {
    margin-top: 30px;
}

.-heading {
    text-align: center;
    color: #2D2C54;
}

.-name {
    text-align: center;
    font-size: 25px;
    color: #2D2C54;
    font-weight:600;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin: 20px 0 20px 0;
}

.assign {
    color: #2D2C54;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}

.ticket-list {
    display: flex; 
    align-items: center;
    padding: 10px;
}

    .ticket-list h5 {
        text-decoration: underline;
        text-align: left;
    }

.ticket {
    border: 1px solid #ccc;
    padding: 10px;
    width: 70%; /* Make each ticket 70% of the page width */
    margin: 10px; /* Add spacing between tickets */
    text-align: left;
    border-radius: 12px;
    background-color: lightgrey;
}

.discription-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ticket-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .ticket-content p {
        max-width: 80%;
    }

.view-details {
    background-color: #2D2C54;
    border: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.report-issue {
    margin: 10px 10px 10px 10px;
    background-color: #2D2C54;
    border: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Modal Style */
/* .modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 60%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.back-button {
    background-color: #2D2C54;
    border: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-form {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-group {
    margin: 10px 0;
}

.modal-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    text-decoration: underline;
} */