.client-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99999;
    padding: 32px 80px 32px 20px;
    background-color: #2d2c54;
    color: white;
    width: 100%;
    height: 55px;
    font-family: 'Montserrat', sans-serif;    
  }
  
  .client-header .header-left {
    flex: 1;
  }
  
  .client-header .header-center {
    flex: 2;
    text-align: center;
  }
  
  .client-header .header-right {
    flex: 1;
    text-align: right;
  }
  
  .client-header h1 {
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }
  
  .client-header p {
    font-size: 20px;
    margin: 0;
    padding: 0;
  } 

  .client-header .heading a, .header-right p a {
    text-decoration: none;
    color: white;
}

.client-logout-link {
    position: absolute;
    bottom: 0;
    padding-bottom: 2.5em;
}

.client-account-settings {
    position: absolute;
    bottom: 0;
    padding-bottom: 4.8em;
}

.menu {
    margin-top: 1em;
}

.client-burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2c54;
    color: white;
    width: 230px;
    height: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0.96;
    cursor: pointer;
    padding-right: 30px;
}
  
.client-burger-menu.open {
    transform: translateX(0);
}

