.callCenterBtn {
    background-color: #2D2C54;
    color: #fff;
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 15px;
}

.callCenterBtnClicked{
    background-color: crimson;
}

.modal-header {
    border: none;
    background-color: #2D2C54;
    color: #fff
}

.modal-footer {
    border: none;
}

.customer-list, .service-request-list{
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    padding: 0;
}

.customer-list-item, .service-request-list-item{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.listBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px;
}

.searchBox {
    padding: 2px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid gray;
}