.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', 'Sans Serif';
    margin-top: 80px;
    padding-top: 4em;
    height: 700px;
}

.heading h3 {
    font-weight: bolder;
    color: #2d2c54;
    margin: 1em 0 1em 0;
}

.packages, .promo-packages {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    padding: 0 1.5em;
    margin: 1em 0 3em 0;
}

.packages .package div h4, .promo-packages .promo-package div h4{
    font-size: 23px;
    margin-bottom: 1em;
    font-weight: bold;
    color: #2d2c54;
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5em;
    width: 430px;
    text-align: center;

}

.promo-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5em;
    width: 500px;
}

.package-price {
    font-size: 20px;
    font-weight: bold;
}

.package .package-info p {
    text-align: center;
}

.package .package-info {
    height: 420px;
}

.promo-package-info {
    height: 530px;
}

.promo-timer {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 1.5em 0;
}

.btn-apply {
    background-color: #2d2c54;
    color: white;
    margin-bottom: 0.7em;
}

.btn-apply:hover {
    background-color: #39359d;
    color: white;
}

.divide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}

.divide .divider {
    height: 500px;
    border: 0.134em solid #2d2c54;
    border-radius: 30px;
}

/* Modal Popup */
.popup-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-modal-dialog {
    padding: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: fit-content;
    background-color: white;
    position: relative;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-modal-icon i {
    color: #313074;
    font-size: 110px;
}

.popup-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.popup-heading p {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.popup-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8em 0 0 0;
}

.popup-message {
    margin: 0.5em 0 0em 0;
    text-align: center;
}

.popup-message p {
    width: 250px;
}

.popup-btn-div button {
    border: 1px inset white;
    background-color: #313074;
    color: white;
    font-weight: bold;
}

.popup-btn-div button:hover {
    border: 1px inset #313074;
    background-color: white;
    color: #313074;
    transition: 0.5s;
}

.popup-btn-wrap {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0 0;
}

.popup-btn-wrap .btn-no {
    margin: 0 1.5em 0 0;
}