.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 32px 80px 32px 20px;
  background-color: #2d2c54;
  color: white;
  width: 100%;
  height: 55px;
  font-family: 'Montserrat', sans-serif;
}

.header-left {
  flex: 1;
}

.header-center {
  flex: 2;
  text-align: center;
}

.header-right {
  flex: 1;
  text-align: right;
}

.header h1 {
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.header p {
  font-size: 20px;
  margin: 0;
  padding: 0;
} 

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2d2c54;
  color: white;
  width: max-content;
  height: 100%;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0.96;
  cursor: pointer;
  padding-right: 30px;
}

.burger-menu.open {
  transform: translateX(0);
}

.menu-button {
  position: relative;
  width: max-content;
  height: max-content;
  cursor: pointer;
  padding: 0%;
}

.menu-button.hidden {
  display: none;
}

.menu-burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  cursor: pointer;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  position: relative;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding-left: 30px;
  padding-top: 40px;
  text-align: left;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.menu li a:hover {
color: #989797;
} 

.emp-logout-link {
position: absolute;
bottom: 0;
padding-bottom: 2.5em;
}

.emp-account-settings {
position: absolute;
bottom: 0;
padding-bottom: 4.8em;
}