.login-frame-desktop {
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .login-frame-desktop .overlap-wrapper {
        background-color: #ececec;
        height: 1024px;
        overflow: hidden;
        width: 1440px;
    }

    .login-frame-desktop .overlap {
        height: 1164px;
        left: 334px;
        position: relative;
        top: -66px;
        width: 1934px;
    }

    .login-frame-desktop .overlap-group {
        height: 1164px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1934px;
    }

    .login-frame-desktop .ellipse {
        background-color: #2d2c54;
        border: 3px solid;
        border-radius: 582px;
        height: 1164px;
        left: 770px;
        position: absolute;
        top: 0;
        width: 1164px;
    }

    .login-frame-desktop .text-wrapper {
        color: #2d2c54;
        font-family: "Inter-Bold", Helvetica;
        font-size: 64px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 245px;
        white-space: nowrap;
        width: 911px;
    }

    .login-frame-desktop .div {
        border-radius: 30px;
        height: 68px;
        left: 246px;
        position: absolute;
        top: 617px;
        width: 209px;
    }

    .login-frame-desktop .rectangle {
        background-color: #2d2c54;
        border-radius: 30px;
        height: 68px;
        left: 0;
        position: absolute;
        top: 0;
        width: 209px;
    }

    .login-frame-desktop .text-wrapper-2 {
        color: #ececec;
        font-family: "Istok Web-Bold", Helvetica;
        font-size: 32px;
        font-weight: 700;
        left: 61px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 11px;
        width: 125px;
    }

    .login-frame-desktop .div-wrapper {
        background-color: #ececec;
        border: 1px solid;
        border-color: #2d2c54;
        border-radius: 15px;
        height: 52px;
        left: 97px;
        position: absolute;
        top: 538px;
        width: 560px;
    }

    .login-frame-desktop .text-wrapper-3 {
        color: #2d2c54;
        font-family: "Istok Web-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 21px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 3px;
    }

    .login-frame-desktop .overlap-group-2 {
        background-color: #ececec;
        border: 1px solid;
        border-color: #2d2c54;
        border-radius: 15px;
        height: 52px;
        left: 97px;
        position: absolute;
        top: 450px;
        width: 560px;
    }

    .login-frame-desktop .text-wrapper-4 {
        color: #2d2c54;
        font-family: "Istok Web-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 21px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 1px;
    }

    .login-frame-desktop .text-wrapper-5 {
        color: #474787;
        font-family: "Inter-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 220px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 954px;
        white-space: nowrap;
        width: 332px;
    }

    .login-frame-desktop .line {
        height: 3px;
        left: 217px;
        position: absolute;
        top: 989px;
        width: 277px;
    }

    .login-frame-desktop .p {
        color: #2d2c54;
        font-family: "Istok Web-Italic", Helvetica;
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        left: 113px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 303px;
    }
